body, html {
    height: 100%;
    background: #000000;
    margin: 0;
    padding: 0;
}

.flex-container {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.first-row li {
    width: 250px;
    flex-grow: 1;
}

.second-row li {
    width: 400px;
    flex-grow: 1;
}

.flex-container li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flex-container li {
    position: relative;
}

.flex-container li:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    cursor: pointer;
    z-index: 1;

    background: rgb(251,78,63);
    background: -moz-radial-gradient(circle, rgba(251,78,63,0.3393732492997199) 0%, rgba(255,201,73,0.10688025210084029) 100%);
    background: -webkit-radial-gradient(circle, rgba(251,78,63,0.3393732492997199) 0%, rgba(255,201,73,0.10688025210084029) 100%);
    background: radial-gradient(circle, rgba(251,78,63,0.3393732492997199) 0%, rgba(255,201,73,0.10688025210084029) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fb4e3f",endColorstr="#ffc949",GradientType=1);
}

.photo-caption {
    position: absolute;
    bottom: 15px;
    left: 10px;
    z-index: 10;
    font-size: 25px;
    font-family: serif;
    color: #ffffff;
    background-color: #535353;
    padding: 5px 5px;
    font-variant: all-petite-caps;
    display: none;
}

.flex-container li:hover .photo-caption {
    display: block;
}

/* Navigation */

.navigation {
    list-style: none;
    margin: 0;
    background: #2c3e50;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.navigation a {
    color: #ffffff;
    display: block;
    padding: 1rem;
    text-decoration: none;
}

.navigation a:hover {
    background: #161e27;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .first-row li, .second-row li {
        width: 150px;
        flex-grow: 1;
    }

    .navigation {
        flex-flow: column wrap;
        padding: 0;
    }

    .navigation a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .navigation li:last-of-type a {
        border-bottom: none;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .second-row li {
        width: 250px;
        flex-grow: 1;
    }
}

@media only screen and (max-width: 800px) {
    .navigation {
        justify-content: space-around;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .first-row li, .second-row li {
        width: 300px;
        flex-grow: 1;
    }
}