body {
    margin: 0;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #423440;
    padding: 50px 0 50px 0;
    text-align: center;
    z-index: 2;
}

header a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
}

.container {
    width: 30%;
    position: relative;
    top: 150px;
    text-align: center;
    padding: 10px;
    border: 2px solid green;
    margin: 0 auto;
    z-index: 1;
}

i {
    width: 55px;
    font-size: 30px;
    position: absolute;
    color: red;
    background-color: #ffffff;
    top: 0;
    left: 47%;

}

img {
    width: 100%;
}

p {
    position: absolute;
    top: 20%;
}
