body {
    background-color: rgb(160, 160, 160);
}

section {
    margin: 0 auto;
    width: 350px;
    text-align: center;
}

.fas {
    font-size: 500px;
    margin-bottom: 30px;
    color: black;
}

button {
    background-color: rgb(251, 255, 0);
    border: 2px solid #000000;
    padding: 10px 5px 10px 5px;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
}
